apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: piscord
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          # image: ghcr.io/davmp/piscord-app-backend:latest
          image: ghcr.io/davmp/piscord-app-backend:latest
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          ports:
            - containerPort: 8000
