apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: piscord
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: ghcr.io/davmp/piscord-worker:latest
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: worker-config
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
